# environment variables
.env

# virtual environment
venv

# local project deployment folder
build/*
!build/.keep

configs/sonet_local/files/redmine/plugins/*
!configs/sonet_local/files/redmine/plugins/.keep
configs/sonet_local/files/redmine/themes/*
!configs/sonet_local/files/redmine/themes/.keep
configs/sonet_local/files/nextcloud/apps/*
!configs/sonet_local/files/nextcloud/apps/.keep
# IDE stuff
.vscode
.idea/

# Sphinx documentation
docs/_build/

# VIM swp files
*.swp

# Vagrant
.vagrant
