---
extends: default

ignore: |
  venv
  .vagrant
  build

rules:
  # 80 chars should be enough, but don't fail if a line is longer
  line-length: disable
  # don't bother me with this rule
  # indentation: disable
  braces: { min-spaces-inside: 1, max-spaces-inside: 1 }
  truthy: { allowed-values: ['yes', 'no', 'true', 'false'] }
